ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 10px;
    list-style: none;
    z-index:999999;
    width:721px;
}
ul#navigation li {
    width: 103px;
    display:inline;
    float:left;    
}
ul#navigation li a {
    display: block;
    float:left;
    margin-top: -2px;
    width: 100px;
    height: 25px;
    background-color:#E7F2F9;
    background-repeat:no-repeat;
    background-position:50% 10px;
    border:1px solid #BDDCEF;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    text-decoration:none;
    text-align:center;
    padding-top:80px;
    opacity: 0.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);  
}
ul#navigation li a:hover{
     background-color:#CAE3F2;
}
ul#navigation li a span{
    letter-spacing:2px;
    font-size:11px;
    color:#000000;
    text-shadow: 0 -1px 1px #000000;      
}
ul#navigation .inicio a{
    background-image: url(../images/home.png);
}
ul#navigation .pseint a      {
    background-image: url(../images/PseInt.png);
}
ul#navigation .java a      {
    background-image: url(../images/java.png);
}
ul#navigation .html a      {
    background-image: url(../images/html-5.png);
}
ul#navigation .css a   {
    background-image: url(../images/css-3.png);
}
ul#navigation .final a     {
    background-image: url(../images/tarea.png);
}
ul#navigation .cv a    {
    background-image: url(../images/cv.png);
}
ul#navigation li a{
	background-size: 50px;
}
body{
    width: 1024px;
    margin: 0px auto;
	padding:0px;
	font-family: sans-serif;
	background-image:url(img.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	background-attachment:fixed;
}
h1 {
    font: bold 30px verdana, sans-serif;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
h2 {
    font: bold 20px verdana, sans-serif;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
body{
    width: 1024px;
    margin: 0px auto;
    text-align: center;
}
header{
    text-align: center;
}
li{
    text-align: left;
    color: #000000;
    font-family: sans-serif;
}
section{
    background: #FFFFFF;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
}
#informacion {
    width: 960px;
    margin: 15px auto;
    text-align: center;
}
.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}
.accordion-item {
    background-color: #000000;
    color: #ffffff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
.accordion-item-header.active::after {
    content: "\2212";
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
    text-align: left;
    height: 400px;
    overflow: auto;
}
code{
    text-align: left;
}
img{
    border: 0.5px solid #000000;
    box-shadow: 20px 20px 10px black;
}
.zoom {
    transition: transform .2s; 
}
.zoom:hover {
    transform: scale(1.5); 
}
.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    z-index: 9999;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: auto;
  }
  
.menu2 {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.menu2 li {
    margin-bottom: 10px;
}
  
.menu2 a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
  
.menu2 a:before {
    font-family: FontAwesome;
    font-size: 0.9em;
    margin-right: 5px;
}
  
.menu2 a:hover {
    background-color: #f1f1f1;
}

  
  

  
  
  
  
  
